<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Express</title>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a Base backend express</p>
  </body>
</html>
